<%- include ("partials/header.ejs") %>

    <section class="edukasi" id="edukasi">

        <div class="edukasi">

            <h1 class="heading"> <span> Peralatan </span> yang dibutuhkan </h1>
            <div class="edukasi-container">
                <div class="edukasi-card">
                    <img src="benang.jpg" alt="">
                    <div class="edukasi-content">
                        <h1>Benang Rajut</h1>
                        <p>Dalam merajut, terdapat berbagai macam jenis benang yang kegunaannya berbeda. Berikut jenis
                            benang beserta projek rekomendasi terbaik.
                        </p>
                        <a href="/jenisbenang.html"> selengkapnya </a>
                    </div>
                </div>
                <div class="edukasi-card">
                    <img src="hakpen.jpg" alt="">
                    <div class="edukasi-content">
                        <h1>Jarum / Hakpen</h1>
                        <p>Dalam merajut, terdapat berbagai macam ukuran hakpen/jarum berbeda, ukuran projek sangat
                            berpengaruh terhadap jarum yang dipakai. Berikut ukuran hakpen beserta projek rekomendasi
                            terbaik.</p>
                        <a href="hakpen.html"> selengkapnya </a>
                    </div>
                </div>
                <div class="edukasi-card">
                    <img src="gunting.jpg" alt="">
                    <div class="edukasi-content">
                        <h1>Gunting Benang</h1>
                        <p>Untuk memotong.</p>
                        <a href="/produk.ejs"> Beli Produk </a>
                    </div>
                </div>
                <div class="edukasi-card">
                    <img src="dakron.jpg" alt="">
                    <div class="edukasi-content">
                        <h1>Dakron / Isian</h1>
                        <p>isian boneka.</p>
                        <a href="/jenisbenang.html"> Beli Produk </a>
                    </div>
                </div>
                <div class="edukasi-card">
                    <img src="stitchmarker.jpg" alt="">
                    <div class="edukasi-content">
                        <h1>Stitch Marker</h1>
                        <p>Penanda putaran.</p>
                        <a href="/produk.ejs"> Beli Produk </a>
                    </div>
                </div>
                <div class="edukasi-card">
                    <img src="safetyeyes.jpg" alt="">
                    <div class="edukasi-content">
                        <h1>Mata Boneka</h1>
                        <p>Untuk boneka.</p>
                        <a href="/produk.ejs"> Beli produk </a>
                    </div>
                </div>
            </div>

            <h2 class="heading"> <span>Dasar</span> Merajut </h2>
            <div class="edukasi-container">
                <div class="edukasi-card">
                    <img src="tutorial.jpg" alt="">
                    <div class="edukasi-content">
                        <h1>Tutorial Merajut</h1>
                        <p>Dalam merajut, terdapat berbagai macam jenis benang yang kegunaannya berbeda. Berikut
                            jenis
                            benang beserta projek rekomendasi terbaik.
                        </p>
                        <a href="tutorial.html"> selengkapnya </a>
                    </div>
                </div>
                <div class="edukasi-card">
                    <img src="simboll.jpg" alt="">
                    <div class="edukasi-content">
                        <h1>Simbol Merajut</h1>
                        <p>Di internet, pola - pola yang ada biasanya menggunakan simbol dalam penulisannya. Umumnya beberapa negara menggunakan simbol yang sama, hal ini memudahkan Rajuters untuk membaca pola hanya dengan melihat simbolnya.
                        </p>
                        <a href="simbolrajut.html"> selengkapnya </a>
                    </div>
                </div>
                <div class="edukasi-card">
                    <img src="pola.jpg" alt="">
                    <div class="edukasi-content">
                        <h1>Pola Merajut</h1>
                        <p>Berikut beberapa pola yang bisa Rajuters coba untuk mengasah skill yang sudah didapat.
                        </p>
                        <a href="pola.html"> selengkapnya </a>
                    </div>
                </div>
            </div>

        </div>

        </div>

    </section>

    <section class="footer">
        <div class="footer-box">
            <h2>OwianaCrafts!</h2>
            <p>Kontak Kami</p>
            <p>0822-1893-1413</p>
        </div>
    </section>

    </body>

    </html>