<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="x-icon" href="yarny.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simbol Rajut</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <title>Image Overlay with Text</title>

</head>

<body>
    <script src="PI.js"></script>

    <header>

        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="bx bx-menu icon"></label>

        <div class="logo">
            <img src="/yarnlogo.jpg" alt="">
            <a href="#">Owiana</a>
            <span>Crafts!</span>
        </div>
    </header>

    <section class="simbol" id="simbol">

        <div class="simbol">

            <h1 class="heading"><span>Bagan Tusuk </span> Rajut </h1>
            <div class="simbol-container">
                <div class="simbol-card">
                    <div class="simbol-content">
                        <h1>Di internet, pola - pola yang ada biasanya menggunakan simbol dalam penulisannya. Umumnya
                            beberapa negara menggunakan simbol yang sama, hal ini memudahkan Rajuters untuk membaca pola
                            hanya
                            dengan melihat simbolnya.</h1>
                    </div>
                </div>
            </div>
            <div class="simbol-container">
                <div class="simbol-card">
                    <div class="simbol-content">
                        <h1>Simbol Tusuk Dasar Merajut</h1>
                        <div style="border-top: 1px solid #e84393; height: 30px;"></div>
                        <img src="simbol.jpg" alt="">
                        <div class="overlay-text">ilustrasi simbol tusuk rajutan (belajarmerajut.blogspot.co.id)</div>
                        <p> 
                            <br>Gambar diatas merupakan bagan simbol untuk merajut. Bagan ini berguna karena menunjukkan
                            pola rajutan dengan jelas dan ringkas. Umumnya, bagan akan menyertakan kunci di bagian atas atau bawah, dan kunci ini
                            akan menjelaskan arti setiap simbol. 
                            <br><br>
                            Bagan tersebut juga harus memiliki panah yang
                            menunjukkan arah pengerjaan jahitan. Selain panah juga bisa diberi angka 1 sebagai titik awal pengerjaan.
                            <br><br>
                            Untuk perajut tangan kanan, panah menunjuk dari kanan ke kiri. Dan untuk perajut tangan kiri, panah menunjuk dari kiri ke kanan.
                            <br><br>
                            Selain itu, diagram juga dapat menunjukkan berapa kali tusuk harus dikerjakan dalam satu
                            baris. Ini dapat ditunjukkan dengan angka di sudut simbol atau dengan garis yang ditarik di
                            bawah simbol. 
                            <br><br>
                            Terakhir, diagram simbol rajutan juga akan menunjukkan kapan harus menambah
                            atau mengurangi tusuk, ditunjukkan dengan tanda plus atau minus.
                            <br><br>
                            Seperti contoh diagram pola daun ini
                            <img src="poladaun.jpg" alt="">
                            Dalam pola ini diawali dengan simbol oval(chain) sebanyak 9 chain. Kemudian memulai sc pada chain ke 7 (terdapat angka 1 sebagai titik awal pengerjaan), setelah sc membuat hdc dan seterusnya mengikuti pola dari kanan ke kiri.
                        </p>
                    </div>
                </div>
            </div>
            <h1 class="heading"><span>Simbol Tusuk </span> China </h1>
            <div class="simbol-container">
                <div class="simbol-card">
                    <div class="simbol-content">
                        <h1>Simbol Tusuk Dasar China</h1>
                        <div style="border-top: 1px solid #e84393; height: 30px;"></div>
                        <p>
                            Pola rajut China memiliki terminologi yang berbeda dengan US dan AS. Apabila rajuters ingin
                            membuat karya menggunakan pola china, maka harus mengetahui bentuknya. Berikut pola rajut
                            beserta keterangannya:
                            <br><br>
                            X : single crochet / tusuk tunggal
                            <br>
                            T : half double crochet / setengah tusuk ganda
                            <br>
                            F : double crochet / tusuk ganda
                            <br>
                            V  : increase / 2 tusuk tunggal di lubang yang sama (untuk memperbesar jumlah chain)
                            <br>
                            V  : decrease / 2 lubang menjadi 1 tusuk tunggal (untuk mengecilkan jumlah chain)
                            <br><br>
                            Contoh : Pola dari AS (sc, inc) x 6 akan ditulis seperti 6(x, v)

                        </p>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>