<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="x-icon" href="yarny.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <title>Image Overlay with Text</title>

</head>

<body>
    <script src="PI.js"></script>

    <header>
        <div class="logo">
            <img src="/yarnlogo.jpg" alt="">
            <a href="#">Owiana</a>
            <span>Crafts!</span>
        </div>
    </header>

    <section class="tutorial" id="tutorial">

        <div class="tutorial">

            <h1 class="heading"><span>Tutorial</span> Merajut </h1>
            <div class="tutorial-container">
                <div class="tutorial-card">
                    <div class="tutorial-content">
                        <h1>OwianaCrafts telah merangkum tutorial dasar merajut mulai dari slip knot, hingga magic
                            ring.</h1>
                    </div>
                </div>
            </div>
            <div class="tutorial-container">
                <div class="tutorial-card">
                    <div class="tutorial-content">
                        <h1>1. Slip Knot </h1>
                        <div style="border-top: 1px solid #e84393; height: 30px;"></div>
                        <iframe width="420" height="345" src="https://www.youtube.com/embed/gG4X0fJiOkg"></iframe>
                        <p>
                            <br>
                            Untuk membuat slip knot mula - mula memegang benang dan membuat lengkukan
                            <br><br>
                            - Berikan ujung benang yang cukup Panjang
                            <br>
                            - Putar bagian atas lengkungan searah jarum jarum
                            <br>
                            - Lebarkan lingkaran dengan dua jari, kemudian ambil benang melalui lingkaran
                            <br><br>
                            Berikut tutorialnya.
                        </p>
                    </div>
                </div>
            </div>
            <div class="tutorial-container">
                <div class="tutorial-card">
                    <div class="tutorial-content">
                        <h1>2. Chain</h1>
                        <iframe width="420" height="345" src="https://www.youtube.com/embed/IUS36p5QtvQ"></iframe>
                        <p>
                            <br>
                            Untuk membuat tusuk rantai atau chain mula-mula buat simpul awal terlebih dahulu, lalu
                            kaitkan benang pada jarum.
                            <br><br>
                            - Tarik benang yang terkait sampai keluar dari lubang jarum.
                            <br>
                            - Lakukan tahap ini berulang-ulang sesuai dengan jumlah rantai yang dibutuhkan.
                            <br><br>
                            Chain atau rantai ini berguna sebagai dasar merajut, chain juga menjadi perkiraan panjang
                            ukuran projek rajut.
                            <br><br>
                            Berikut tutorialnya.
                        </p>
                    </div>
                </div>
            </div>
            <div class="tutorial-container">
                <div class="tutorial-card">
                    <div class="tutorial-content">
                        <h1>3. Single Crochet</h1>
                        <iframe width="420" height="345" src="https://www.youtube.com/embed/KCXx7evddBo"></iframe>
                        <p>
                            <br>
                            Untuk membuat tusuk tunggal atau single crochet anda bisa memulainya dengan membuat simpul
                            rantai terlebih dahulu.
                            <br>
                            - Masukkan jarum rajut pada lubang rantai kedua dari ujung (rantai nomor satu dihitung
                            sebagai tusuk tunggal pertama).
                            <br>
                            - Kaitkan jarum pada benang, kemudian tarik jarum melalui dua lubang sekaligus.
                            <br>
                            - Lanjutkan proses pembuatan tusuk tunggal pada rantai selanjutnya.
                            <br><br>
                            Berikut tutorialnya.
                        </p>
                    </div>
                </div>
            </div>
            <div class="tutorial-container">
                <div class="tutorial-card">
                    <div class="tutorial-content">
                        <h1>4. Half Double Crochet </h1>
                        <div style="border-top: 1px solid #e84393; height: 30px;"></div>
                        <iframe width="420" height="345" src="https://www.youtube.com/embed/-Z5Q63Kja30"></iframe>
                        <p>
                            <br>
                            Untuk membuat setengah tusuk ganda atau half double crochet mula-mula buat simpul rantai
                            terlebih dahulu.
                            <br>
                            - Kaitkan benang kemudian masukkan jarum lubang rantai ketiga dari ujung.
                            <br>
                            - Kaitkan jarum pada benang, tarik melalui satu lubang.
                            <br>
                            - Kaitkan kembali jarum rajut pada benang kemudian tarik melalui tiga lubang sekaligus.
                            <br>
                            - Ulangi langkah-langkah diatas untuk menyelesaikan setengah tusuk ganda yang anda buat.
                            <br><br>
                            Berikut tutorialnya.
                        </p>
                    </div>
                </div>
            </div>
            <div class="tutorial-container">
                <div class="tutorial-card">
                    <div class="tutorial-content">
                        <h1>5. Double Crochet</h1>
                        <iframe width="420" height="345" src="https://www.youtube.com/embed/L4dd_0nuV9A"></iframe>
                        <p>
                            <br>
                            Untuk membuat tusuk ganda atau double crochet pertama-tama buat simpul rantai terlebih
                            dahulu.
                            <br><br>
                            - Kaitkan jarum pada benang kemudian masukkan jarum lubang rantai keempat dari ujung.
                            <br>
                            - Kaitkan jarum pada benang lal tarik melalui satu lubang rantai hingga menyisakan tiga
                            lubang.
                            <br>
                            - Kaitkan jarum pada benang kemudian tarik melaui satu lubang hingga menyisakan dua lubang.
                            <br>
                            - Kaitkan kembali jarum rajut pada benang kemudian tarik keluar melalui dua lubang terakhir.
                            <br>
                            - Ulangi langkah-langkah diatas untuk menyelesaikan tusuk ganda yang anda buat.
                            <br><br>
                            Berikut tutorialnya.
                        </p>
                    </div>
                </div>
            </div>
            <div class="tutorial-container">
                <div class="tutorial-card">
                    <div class="tutorial-content">
                        <h1>6. Slip Stitch</h1>
                        <iframe width="420" height="345" src="https://www.youtube.com/embed/kEZMv2-woqU"></iframe>
                        <p>
                            <br>
                            Untuk membuat tusuk selip atau slip stitch mula-mula buat simpul berbentuk rantai terlebih
                            dahulu.
                            <br><br>
                            - Masukkan jarum ke dalam lubang rantai kedua dari ujung. Kaitkan benang, kemudian tarik
                            langsung melalui dua lubang sekaligus.
                            <br>
                            - Untuk menggabungkan tusuk rantai (membuat lingkaran) buat tusuk rantai, masukkan jarum
                            rajut pada lubang rantai pertama dari ujung.
                            <br>
                            - Kaitkan benang kemudian tarik melalui dua lubang.
                            <br><br>
                            Berikut tutorialnya.
                        </p>
                    </div>
                </div>
            </div>
            <div class="tutorial-container">
                <div class="tutorial-card">
                    <div class="tutorial-content">
                        <h1>7. Magic Ring </h1>
                        <div style="border-top: 1px solid #e84393; height: 30px;"></div>
                        <iframe width="420" height="345" src="https://www.youtube.com/embed/-Z5Q63Kja30"></iframe>
                        <p>
                            <br>
                            Magic ring (lingkaran ajaib) biasa digunakan untuk membuat projek rajut berbentuk lingkaran,
                            biasanya juga digunakan untuk membuat boneka rajut (Amigurumi)
                            <br><br>
                            Berikut tutorialnya.
                        </p>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>